{% extends "base.html" %}
{% block title %}
Создание курса
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block content %}
    <div>
        <a href="/courses-list/?id={{id}}">назад</a>
    </div>

    <br>
    <br>

    <div>
        <h3>Создание курса для категории "{{name}}"</h3>
        <form method="post">
            <div class="edit">
                <edit_title>Название:</edit_title>
                <input type="text" name="name" placeholder="">
            </div>
            <div class="edit_select">
                <label for="teacher" class="edit_title">Преподователь:</label>
                    <p><select name="teacher" id="teacher">
                        <option value='Белова Елена'>Белова Елена</option>
                        <option value='Колесов Александр'>Колесов Александр</option>
                        <option value='Прохоров Павел'>Прохоров Павел</option>
                    </select></p>
                <label for="type_" class="edit_title">Тип:</label>
                    <p><select name="type_" id="type_">
                        <option value='interactive'>Интерактивный</option>
                        <option value='record'>Вебинарный</option>
                    </select></p>

            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}