<div class="content">
    <form action="" method="post">
        <fieldset>
            <legend>Форма входа</legend>
            <label class="title" for="login">Логин:</label>
                <input type="text" name="login" id="login"><br />
                <label class="title" for="user_pass">Пароль:</label>
                <input type="text" name="user_pass" id="user_pass">
            <div class="parent_contacts">
                <div class="child">
                    <button class="button" type="input">Войти</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
