<div class="content">
    <h2 class="heading2">Контакты</h2>
    <div class="contacts">
        <div class="contacts_info">
            <p class="text">Мы находимся по адресу: ул. Правды, 24 (ст.м. Савеловская или ст.м Белорусская)</p>
            <h4 class="heading4">Телефон</h4>
            <ul>
                <li>+79680689500</li>
                <li>+79151050968</li>
            </ul>
        <p class="heading4">Вы можете связаться с нами используя контактные данные, или форму обратной связи.</p>
        </div>
    </div>
    <form action="" method="post">
        <fieldset>
            <legend>Отправьте сообщение</legend>
            <label class="title" for="name">Ваше имя:</label>
                <input type="text" name="name" id="name"><br />
                <label class="title" for="topic">Тема:</label>
                <input type="text" name="topic" id="topic">
                <textarea class="inputarea" cols="42" rows="6" name="message" id="message"></textarea><br>
            <div class="parent_contacts">
                <div class="child">
                    <button class="button" type="send">Отправить</button>
                </div>
                <div class="child">
                    <button class="button" type="reset">Сбросить</button><br>
                </div>
            </div>
        </fieldset>
    </form>
</div>
