{% extends "base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block content %}
<div class="content">
	<div>
		<li>
			<a href="/create-teacher/">Создать преподавателя</a>
		</li>
		<li>
			<a href="/add-teacher/">Добавить преподавателя на курс</a>
		</li>
	</div>
    <h3>Список преподавателей</h3>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}}
            {% for course in item.courses %}
                {{course.name}}
            {% endfor %}
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}